<%- include("partials/header") %>
<body>
    <div class="box" id="heading">
        <h1><%= listTitle %></h1>
    </div>
    <div>
       <h2>Enter your tasks here and checkbox those that have been completed.</h2>
    </div>

    <div class="box">
        <form class="item" action="/" method="post">
            <input type="text" name="newItem" placeholder="Type Here" autocomplete="off">
            <button type="submit" name="list" value="<%= listTitle %>">+</button>
        </form>    
    </div>
<%- include("partials/footer") %>
</body>
</html>